body {
}

table.table {
    width: 100%;
    text-align: center;
    padding-top: 2%
}

a.button {
    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 1%;
    margin-left: 4%;
}

img {
    width: 9%;
    position: relative;
    /* text-align: center; */
    margin-left: 37%;
}